@page "/Vehiculos/vcreate"
@using System.Net.Http.Json
@using System.Net.Http
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using ProyectoFinal.Models


<div class = "container">
    <h3>Registrar un Vehiculo.</h3>

    <EditForm Model="@vehiculo" OnValidSubmit="RegistrarVehiculo">
        <table class="table">
            <tr>
                <td>Marca:</td>
                <td>
                    <input type="text" class="form-control col-sm-6" @bind="@vehiculo.Marca">
                </td>
            </tr>
            <tr>
                <td>Modelo:</td>
                <td>
                    <input type="text" class="form-control col-sm-6" @bind="@vehiculo.Modelo">
                </td>
            </tr>
            <tr>
                <td>Año:</td>
                <td>
                    <input type="text" class="form-control col-sm-6" @bind="@vehiculo.Año">
                </td>
            </tr>
            <tr>
                <td>Color:</td>
                <td>
                    <input type="text" class="form-control col-sm-6" @bind="@vehiculo.Color">
                </td>
            </tr>
            <tr>
                <td>Precio por Dia (En RD$):</td>
                <td>
                    <input type="text" class="form-control col-sm-6" @bind="@vehiculo.Precio">
                </td>
            </tr>
            <tr>
                <td>Tipo:</td>
                <td>
                    <InputSelect class="form-control col-sm-6" @bind-Value="@vehiculo.TipoId">
                        <option value=0>Tipo de Vehiculo...</option>
                        @foreach (var tipo in GetTipos())
                        {
                            <option value="@tipo.Id"> @tipo.Tipo </option>
                        }
                    </InputSelect>
                </td>
            </tr>
            <tr>
                <td>Capacidad de Carga (En KG):</td>
                <td>
                    <input type="text" class="form-control col-sm-6" @bind="@vehiculo.CapacidadDeCarga">
                </td>
            </tr>
            <tr>
                <td>Pasajeros:</td>
                <td>
                    <input type="text" class="form-control col-sm-6" @bind="@vehiculo.Pasajeros">
                </td>
            </tr>
            <tr>
                <td>Matricula:</td>
                <td>
                    <input type="text" class="form-control col-sm-6" @bind="@vehiculo.Matricula">
                </td>
            </tr>
            <tr>
                <td>Num. Seguro:</td>
                <td>
                    <input type="text" class="form-control col-sm-6" @bind="@vehiculo.NroSeguro">
                </td>
            </tr>
            <tr>
                <td>Foto:</td>
                <td>
                    <InputFile OnChange="InputImage" class="form-control-file" />
                </td>
            </tr>

            <tr>
                <td>
                    <strong><p align="center">Ubicacion:</p></strong>
                    <br />
                    Latitud:
                    <input type="number" step="any" readonly class="form-control col-sm-6" @bind="@vehiculo.Latitud">
                    <br />
                    Longitud:
                    <input type="number" step="any" readonly class="form-control col-sm-6" @bind="@vehiculo.Longitud">
                </td>
            
                <td>
                    <br />
                    <br />
                    <br />
                    <br />
                    <InputSelect class="form-control col-sm-6" @bind-Value="@ProvinciaIdUbicacion">
                        <option value=0>Provincia...</option>
                        @foreach (var provincia in GetProvincias())
                        {
                            <option value="@provincia.Id"> @provincia.Nombre </option>}
                    </InputSelect>
                    <br />
                    <InputSelect class="form-control col-sm-6" @bind-Value="@MunicipioIdUbicacion">
                        <option value=0>Municipio...</option>
                        @foreach (var municipio in GetMunicipios())
                        {
                            <option value="@municipio.Id"> @municipio.Nombre</option>
                            vehiculo.Latitud = @municipio.Latitud;
                            vehiculo.Longitud = @municipio.Longitud;
                        }
                    </InputSelect>
                </td>
            </tr>
        </table>
    </EditForm>
    <input type="submit" value="Guardar" class="btn btn-primary" @onclick="RegistrarVehiculo" />
    <br><br>
    @mensaje
    <br><br>
</div>

@code {

    gestion_vehicularContext db = new gestion_vehicularContext();
    Vehiculos vehiculo = new Vehiculos();
    int ProvinciaIdUbicacion = 1;
    public int MunicipioIdUbicacion { get; set; }
    public int TipoId { get; set; }
    string mensaje = "Nada ha sido enviado aun.";

    private async Task InputImage(InputFileChangeEventArgs e)
    {
        var format = "image/jpg";

        var resizedImage = await e.GetMultipleFiles()[0].RequestImageFileAsync(format, 200, 200);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);

        var imageUri = $"data:{format};base64,{Convert.ToBase64String(buffer)}";

        vehiculo.Foto = imageUri;
    }

    public class VistaMunicipios
    {
        public int Id { get; set; }
        public string Nombre { get; set; }
        public int ProvinciaId { get; set; }
        public float Latitud { get; set; }
        public float Longitud { get; set; }
    }
    public List<Provincias> GetProvincias()
    {
        gestion_vehicularContext context = new gestion_vehicularContext();

        var provincias = context.Provincias.ToList();

        return provincias;
    }

    public List<TipoVehiculo> GetTipos()
    {
        gestion_vehicularContext context = new gestion_vehicularContext();

        var tipos = context.TipoVehiculo.ToList();

        return tipos;
    }

    /*public class VistaVehiculos
    {
        public int Id { get; set; }
        public string Tipo { get; set; }
    }
    public List<VistaVehiculos> GetTipos()
    {
        gestion_vehicularContext context = new gestion_vehicularContext();

        return context.TipoVehiculo
        .Join(
            context.Vehiculos,
            t => t.Id,
            v => v.TipoId,
            (t, v) => new { TipoVehiculo = t, Vehiculos = v}
        )
        .Select(
            t => new VistaVehiculos
            {
                Id = t.TipoVehiculo.Id,
                Tipo = t.TipoVehiculo.Tipo
            }
        ).ToList();

        var tipos = context.TipoVehiculo.ToList();

        return tipos;
    }*/

    List<VistaMunicipios> GetMunicipios()
    {
        gestion_vehicularContext context = new gestion_vehicularContext();

        return context.Municipios
        .Join(
            context.Provincias,
            m => m.ProvinciaId,
            p => p.Id,
            (m, p) => new { Municipios = m, Provincias = p }
        )
        .Where(All => All.Municipios.ProvinciaId == ProvinciaIdUbicacion)
        .Select(
            m => new VistaMunicipios
            {
                Id = m.Municipios.Id,
                Nombre = m.Municipios.Nombre,
                Latitud = m.Municipios.Latitud,
                Longitud = m.Municipios.Longitud
            }
        ).ToList();
    }

    public void RegistrarVehiculo()
    {
        vehiculo.VehiculoDisponible = "Si";

        db.Add(vehiculo);
        db.SaveChanges();

        mensaje = "Nuevo Vehiculo registrado exitosamente.";
    }
}
